h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:tomato;
}

.container{
  width: 200px;
  height: 245px;
  margin: 10px auto;
  padding: 10px 20px 10px;
}

.container2{
  width: 200px;
  height: 245px;
  margin: 0px auto;
  background-color: rgb(17, 17, 170);
}

.container3{
  width: 200px;
  height: 245px;
  margin: 10px auto;
  padding: 0 10px 10px;
}
.markers {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.orange {
  background-color: rgb(255, 127, 0);
}

.springgreen {
  background-color: rgb(0, 255, 127);
}

.violet {
  background-color: rgb(127, 0, 255);
}

.chartreusegreen {
  background-color: rgb(127, 255, 0);
}

.azure {
  background-color: rgb(0, 127, 255);
}

.rose {
  background-color: rgb(255, 0, 127);
}

.olive {
  background-color: rgb(127, 127, 0);
}
.purple {
  background-color: rgb(127, 0, 127);
}
.teal {
  background-color: rgb(0, 127, 127);
}
