h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:tomato;
}

.container{
  width: 400px;
  height: 205px;
  margin: 10px auto;
  padding: 10px auto;
  background-color: bisque;
}
.markers {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.aquamarine {
  background-color: aquamarine;
}

.palevioletred {
  background-color: palevioletred;
}

.teal {
  background-color: teal;
}

.plum {
  background-color: plum;
}

.olive {
  background-color: olive;
}
